/**
 * Styles for the Reservoir Levels Widget.
 */

/* Widget container */
.wp-block-create-block-reservoir-levels-widget {
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    max-width: 1200px; /* Keep the widget's width */
    margin: 0 auto;
    overflow-y: auto; /* Add scrolling if content overflows */
}

/* Widget title */
.reservoir-widget h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
    text-align: left;
}

/* Reservoir details container with 5 columns */
.reservoir-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.4fr ; /* Four columns */
    grid-auto-rows: 400px; /* Set a consistent row height */
    gap: 30px; /* Gap between the columns */
    align-items: stretch; /* Ensures child elements fill their row height */
    height: 100%; /* Ensures parent height is consistent */
}

/* Total reservoir spans two rows */
.reservoir-details.total-reservoir {
    background-color: #fbe8a6;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    justify-content: center; /* Centers content vertically */
    height: 100%; /* Ensures all blocks in a row match height */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
}

.reservoir-details .total-reservoir h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.reservoir-details .total-reservoir .level {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.reservoir-details .total-reservoir .paragraph{
    font-size: 0.9rem;
    font-weight: 500;
    color: #555;
    display: flex;
    justify-content: center;
    text-align: center;
}

.reservoir-details .total-reservoir .total-usage {
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-top: 0px;
    margin-right: 15px;
    text-align: center; /* Ensures proper alignment of text */
}

/* Hover effect triggered by total-reservoir */
.total-reservoir:hover .label::before {
    content: attr(data-hover); /* Show hover text */
    transition: content 0.3s ease-in-out;
    font-size: 0.8rem;
    color: #555;
    line-height: 1.2;
}

/* Grounding Boxes Container */
.grounding-boxes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

/* Individual Grounding Box */
.grounding-box {
    background-color: #f0f8fa; /* Light blue for contrast */
    padding: 15px;
    border-radius: 8px;
    flex: 1; /* Equal width for both boxes */
    text-align: center;
    //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Box Title */
.grounding-box .box-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Box Value */
.grounding-box .box-value {
    font-size: 1.4rem;
    font-weight: bold;
    color: #8b8b8b;
}

/* Positive and Negative Value Colours */
.grounding-box .box-value.positive {
    color: #28a745; /* Green for positive */
}

.grounding-box .box-value.negative {
    color: #d9534f; /* Red for negative */
}

/* Default label styling */
.grounding-box .label::before{
    content: attr(data-default); /* Show default text */
    transition: content 0.3s ease-in-out;
    font-size: 0.8rem;
    color: #8b8b8b;
    text-align: center;
    display: block;
    line-height: 1.2;
    margin-left: 5px;
    margin-right: 5px;
}

/* Hover state */
.grounding-box:hover .label::before {
    content: attr(data-hover); /* Show hover text */
    font-size: 0.8rem;
    line-height: 1.2;
}

/* Individual reservoir columns */
.reservoir-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Individual reservoir styles */
.reservoir {
    background-color: #e0edee;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s, box-shadow 0.25s;
    height: 100%; /* Ensures all blocks in a row match height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    gap: 10px; /* Adds spacing between elements */
    position: relative; /* Needed for the fill effect */
    overflow: hidden; /* Ensures the fill doesn’t spill outside the container */
}

.reservoir:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Text content above the fill */
.reservoir h3,
.reservoir .level,
.reservoir .usage,
.reservoir-details .total-reservoir .total-usage,
.reservoir-details .total-reservoir .paragraph,
.reservoir-details .total-reservoir .total-change,
.reservoir-details .total-reservoir .grounding-boxes,
.reservoir .tag,
.line-divider-thick,
.line-divider {
    position: relative;
    z-index: 1; /* Ensures text is above the fill */
}

.reservoir .level {
    font-size: 1.8rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 0px;
    margin-top: 10px;
}

/* Water usage styles */
.reservoir .usage {
    font-size: 0.9rem;
    font-weight: 500;
    color: #555;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-top: 0px;
    margin-right: 15px;
    text-align: center; /* Ensures proper alignment of text */
}


.reservoir .tag {
    font-size: 1.4rem;
    font-weight: bold;
    color: #444;
    text-align: center;
}

/* Water icon style */
.water-icon {
    width: 10px;
	height: 10px;
	margin-right: 8px; /* space between text and icon */
}

/* Water fill effect */
.reservoir-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Fill spans the full width of the container */
    height: 0; /* Start with no height */
    background-color: #b6d8db; /* Blue color for the fill */
    transition: height 1s ease-in-out; /* Smooth animation for the fill */
    z-index: 0; /* Below the text */
}

/* Updated Daily styling */
.updated-daily {
    font-size: 0.8rem;
    color: #8b8b8b;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

/* Empty columns */
.empty-column {
    background-color: transparent;
    height: 100%;
    grid-column: span 1; /* Takes up one grid space */
}

/* Map style */
.map-container {
    background-color: transparent;
    position: relative;
    opacity: 0.2;
    height: 100%;
}

.map-container svg {
    display: block; /* Ensures no extra space is added around the SVG */
    width: auto; /* Maintain aspect ratio */
    height: 100%; /* Fill the height of .map-container */
    max-width: 100%; /* Prevent the SVG from exceeding the container width */
    object-fit: contain; /* Ensures the SVG scales proportionally */
    position: relative; /* Keeps it in the normal flow */
    
}

.blue-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
    pointer-events: none;
    z-index: 1; 
}

/* Line divider style */
.line-divider {
    width: 75%;
    height: 2px;
    background-color: #ddd; /* Light gray color */
    margin: 0; /* Remove top and bottom margin */
}

/* Line divider style */
.line-divider-thick {
    width: 75%;
    height: 3px;
    background-color: #ddd; /* Light gray color */
    margin: 0; /* Remove top and bottom margin */
}



/**
 * Responsive Adjustments.
 */

/* Large Screens */
@media (max-width: 1200px) {
    .reservoir-details {
        grid-template-columns: 1fr 1fr 1fr; /* Single column for small screens */
    }

    .reservoir-details.total-reservoir {
        grid-row: span 1; /* Spans only one row on smaller screens */
        height: auto; /* Adjust height to fit content */
    }
}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 1200px) {
    .reservoir-details {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .reservoir-details.total-reservoir {
        grid-row: span 1; /* Spans only one row on smaller screens */
        height: auto; /* Adjust height to fit content */
    }

    .map-container {
        display: none; /* Hide the map on smaller screens */
    }
 }

 /* Small Screens */
@media (max-width: 768px) {
    .reservoir-details {
        grid-template-columns: 1fr 1fr;
    }

    .reservoir-details.total-reservoir {
        grid-column: span 2; /* Spans only one row on smaller screens */
        height: auto; /* Adjust height to fit content */
    }

    .map-container {
        display: none; /* Hide the map on smaller screens */
    }
}
